body {
    color: white;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

nav li {
    background-color: #161616;
    border-radius: 15px;
    width: 150px;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

header {
    border-radius: 15px;
    margin: auto;
    font-family: verdana, arial;
}

a {
    color: #8C002E;
    font-size: 20px;
    text-decoration: none;
}

section p {
    text-align: center;
}


footer {
    height: 50px;
    text-align: center;
}

header {
    text-align: center;
    height: 350px;
    background-color: #161616;
    border: 1px solid #8C002E;
}

header img {
    border-radius: 50%;
    height: 155px;
    width: 155px;
    border: 8px solid #8C002E;
    margin-top: 10px;
    text-align: center;
}

h1 {
    color: #8C002E;
    text-align: center;
}

h2 {
    color: #8C002E;
    text-align: center;
    font-size: 25px;
}

h3 {
    color: #8C002E;

}

main section {
    background-color: #161616;
    border-radius: 8px;
}

section p {
    font-size: 18px;
    margin: 20px;
    background-color: #161616;
    border-radius: 15px;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    background-color: #161616;
    height: 80px;
    text-align: center;
    margin: auto;
}

footer a {
    padding: 10px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: #ED145B;
}